openapi: 3.1.0
info:
  title: SecondaryDAO API
  description: |
    Programmatic access to real estate token trading, portfolio data, distributions, and market information.

    ## Authentication (HMAC Signing)
    Send three headers with every authenticated request:
    - `X-SD-KEY` — Your API key ID
    - `X-SD-SIGNATURE` — HMAC-SHA256 signature: `HMAC(secret, timestamp + METHOD + path + body)`
    - `X-SD-TIMESTAMP` — Unix milliseconds (within 30s of server time)

    The secret never leaves your machine. Only the computed signature is sent.

    **Legacy:** Sending the raw secret via `X-SD-SECRET` is deprecated. Migrate to HMAC signing.

    Create API keys from your SecondaryDAO account at Profile > API Keys.
  version: '1.1.0'
  contact:
    name: SecondaryDAO
    url: https://secondarydao.com

servers:
  - url: https://api.secondarydao.com
    description: Production
  - url: http://localhost:5000
    description: Local Development

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-SD-KEY
      description: API key ID (e.g., sd_live_a1b2c3d4e5f6)
    ApiSignatureAuth:
      type: apiKey
      in: header
      name: X-SD-SIGNATURE
      description: "HMAC-SHA256 signature: HMAC(secret, timestamp + METHOD + path + body)"
    ApiSecretAuth:
      type: apiKey
      in: header
      name: X-SD-SECRET
      description: "API secret (96-char hex string) — DEPRECATED, use X-SD-SIGNATURE instead"
    ApiTimestamp:
      type: apiKey
      in: header
      name: X-SD-TIMESTAMP
      description: Unix timestamp in milliseconds
    JwtAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT web session token (from browser login). Required for API key management endpoints.

  schemas:
    Property:
      type: object
      properties:
        _id:
          type: string
        name:
          type: string
        location:
          type: string
        propertyValue:
          type: number
        tokenPrice:
          type: number
        totalSupply:
          type: number
        tokenSymbol:
          type: string
        status:
          type: string
          enum: [selling, trading, coming_soon, halted]
        bestBid:
          type: number
        bestAsk:
          type: number
        lastTradePrice:
          type: number

    Holding:
      type: object
      properties:
        propertyAddress:
          type: string
        propertyName:
          type: string
        tokenSymbol:
          type: string
        tokenAmount:
          type: string
        currentPrice:
          type: number
        usdValue:
          type: number
        percentageOwnership:
          type: number

    Order:
      type: object
      properties:
        _id:
          type: string
        orderId:
          type: string
        propertyId:
          type: string
        orderType:
          type: string
          enum: [buy, sell]
        executionType:
          type: string
          enum: [limit, market]
        tokenAmount:
          type: number
        pricePerToken:
          type: number
        status:
          type: string
          enum: [open, filled, partially_filled, cancelled, expired]
        createdAt:
          type: string
          format: date-time

    CreateOrderRequest:
      type: object
      required: [propertyId, orderType, executionType, tokenAmount, pricePerToken, walletAddress]
      properties:
        propertyId:
          type: string
          description: MongoDB ID of the property
        orderType:
          type: string
          enum: [buy, sell]
        executionType:
          type: string
          enum: [limit, market]
        tokenAmount:
          type: number
          description: Number of tokens
        pricePerToken:
          type: number
          description: Price per token in USD
        walletAddress:
          type: string
          description: Your connected wallet address
        timeInForce:
          type: string
          enum: [GTC, IOC, FOK, GTD]
          default: GTC
        expirationHours:
          type: integer
          minimum: 1
          maximum: 720
          description: Hours until order expires (max 30 days)
        conditions:
          type: object
          properties:
            minFillAmount:
              type: number
            maxSlippage:
              type: number
              maximum: 50
            postOnly:
              type: boolean

    UnclaimedDistributions:
      type: object
      properties:
        success:
          type: boolean
        totalUnclaimed:
          type: number
        byProperty:
          type: array
          items:
            type: object
            properties:
              propertyId:
                type: string
              propertyName:
                type: string
              unclaimed:
                type: number

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string

security:
  - ApiKeyAuth: []
    ApiSignatureAuth: []
    ApiTimestamp: []

paths:
  /api/properties:
    get:
      summary: List Properties
      description: Returns all available properties with market data. Public endpoint.
      tags: [Market Data]
      security: []
      responses:
        '200':
          description: Properties list
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  properties:
                    type: array
                    items:
                      $ref: '#/components/schemas/Property'

  /api/explorer/properties:
    get:
      summary: Explorer Properties
      description: Returns properties with contract addresses and distribution data. Public endpoint.
      tags: [Market Data]
      security: []
      responses:
        '200':
          description: Explorer properties

  /api/trading-status/status/{propertyId}:
    get:
      summary: Trading Status
      description: Check if a property is currently trading. Public endpoint.
      tags: [Market Data]
      security: []
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Trading status
          content:
            application/json:
              schema:
                type: object
                properties:
                  buttonState:
                    type: string
                    enum: [buy, launching, coming_soon, disabled, auto_launch_ready]
                  buttonText:
                    type: string
                  message:
                    type: string

  /api/order-book/book/{propertyId}:
    get:
      summary: Order Book
      description: Get order book depth for a property. Public endpoint.
      tags: [Market Data]
      security: []
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
        - name: depth
          in: query
          schema:
            type: integer
            default: 10
      responses:
        '200':
          description: Order book

  /api/merkle/proof/{address}:
    get:
      summary: Merkle Proof
      description: Get merkle proof for on-chain token purchases. Public endpoint.
      tags: [Market Data]
      security: []
      parameters:
        - name: address
          in: path
          required: true
          schema:
            type: string
            description: Wallet address (0x...)
      responses:
        '200':
          description: Merkle proof
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                  isWhitelisted:
                    type: boolean
                  root:
                    type: string
                  proof:
                    type: array
                    items:
                      type: string

  /api/token-stats/total-supply:
    get:
      summary: Total Token Supply
      tags: [Market Data]
      security: []
      responses:
        '200':
          description: Token supply stats

  /api/token-stats/total-balance:
    get:
      summary: Total Token Balance
      description: Returns the total available token balance across all properties. Public endpoint.
      tags: [Market Data]
      security: []
      responses:
        '200':
          description: Token balance stats
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  data:
                    type: object
                    properties:
                      totalBalance:
                        type: number
                      totalBalanceFormatted:
                        type: string
                      propertiesCount:
                        type: integer

  /api/buyout/active-offers/{propertyId}:
    get:
      summary: Active Buyout Offers
      tags: [Market Data]
      security: []
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Active offers

  /api/portfolio/holdings:
    get:
      summary: Get Holdings
      description: Token holdings for a wallet
      tags: [Portfolio]
      parameters:
        - name: walletAddress
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Holdings
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  holdings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Holding'
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /api/portfolio/summary:
    get:
      summary: Portfolio Summary
      tags: [Portfolio]
      parameters:
        - name: walletAddress
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Summary

  /api/portfolio/distributions:
    get:
      summary: Distribution History
      tags: [Portfolio]
      parameters:
        - name: walletAddress
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Distribution payments

  /api/portfolio/performance:
    get:
      summary: Performance Data
      tags: [Portfolio]
      parameters:
        - name: walletAddress
          in: query
          required: true
          schema:
            type: string
        - name: period
          in: query
          schema:
            type: string
            default: 30d
      responses:
        '200':
          description: Performance chart data

  /api/portfolio/trades:
    get:
      summary: Trade History
      tags: [Portfolio]
      parameters:
        - name: walletAddress
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Trades

  /api/portfolio/income:
    get:
      summary: Income Summary
      tags: [Portfolio]
      parameters:
        - name: walletAddress
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Income breakdown

  /api/trading/orders:
    get:
      summary: List Orders
      tags: [Orders]
      parameters:
        - name: type
          in: query
          schema:
            type: string
            enum: [buy, sell]
        - name: status
          in: query
          schema:
            type: string
        - name: propertyId
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Orders list

  /api/trading/orders/buy:
    get:
      summary: List Buy Orders
      description: Returns all buy orders. Equivalent to GET /api/trading/orders?type=buy
      tags: [Orders]
      responses:
        '200':
          description: Buy orders list

  /api/trading/orders/sell:
    get:
      summary: List Sell Orders
      description: Returns all sell orders. Equivalent to GET /api/trading/orders?type=sell
      tags: [Orders]
      responses:
        '200':
          description: Sell orders list

  /api/order-book/my-orders:
    get:
      summary: My Orders
      tags: [Orders]
      parameters:
        - name: status
          in: query
          schema:
            type: string
        - name: propertyId
          in: query
          schema:
            type: string
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
      responses:
        '200':
          description: Your orders

  /api/order-book/create:
    post:
      summary: Create Order
      description: Create a buy or sell order
      tags: [Orders]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: Order created
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  order:
                    $ref: '#/components/schemas/Order'
        '400':
          description: Validation error
        '403':
          description: Compliance or scope error

  /api/token-purchase/gasless:
    post:
      summary: Gasless Token Purchase
      description: |
        Purchase tokens during an Initial Property Sale using ERC-2612 permit signatures.
        The platform relays the transaction and pays gas. Limited to 10 per day per wallet.

        The `signature` is an EIP-712 typed data signature (ERC-2612 permit) that authorizes
        the PropertySaleEscrow contract to spend the buyer's stablecoins. The bot signs this
        locally with its private key -- the key never leaves the client machine.

        **EIP-712 domain for the permit:**
        - `name`: The stablecoin's `name()` (e.g., "USD Coin" for USDC)
        - `version`: "1"
        - `chainId`: The network chain ID
        - `verifyingContract`: The stablecoin contract address (USDC or USDT)

        **Permit message fields:**
        - `owner`: The buyer's wallet address
        - `spender`: The PropertySaleEscrow contract address (from `GET /api/explorer/properties`)
        - `value`: Amount in stablecoin units (6 decimals)
        - `nonce`: From `stablecoin.nonces(buyerAddress)` on-chain
        - `deadline`: Unix timestamp (seconds) when the permit expires

        See the guide for full JavaScript and Python code examples.
      tags: [Trading]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [propertyId, amount, isUSDT, buyerAddress, signature]
              properties:
                propertyId:
                  type: string
                  description: MongoDB ID of the property
                amount:
                  type: string
                  description: Amount in stablecoin units (6 decimals, e.g., "100000000" = 100 USDC)
                  example: "100000000"
                isUSDT:
                  type: boolean
                  description: false for USDC, true for USDT
                  default: false
                buyerAddress:
                  type: string
                  description: Buyer's wallet address (must match permit owner)
                  example: "0xYourWalletAddress"
                signature:
                  type: object
                  required: [v, r, s, deadline]
                  description: ERC-2612 permit signature components signed with EIP-712 typed data
                  properties:
                    v:
                      type: integer
                      description: Recovery identifier (27 or 28)
                      example: 28
                    r:
                      type: string
                      description: ECDSA signature r component (32-byte hex)
                      example: "0xa1b2c3..."
                    s:
                      type: string
                      description: ECDSA signature s component (32-byte hex)
                      example: "0xd4e5f6..."
                    deadline:
                      type: integer
                      description: Unix timestamp (seconds) when permit expires
                      example: 1709500000
      responses:
        '200':
          description: Purchase relayed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  txHash:
                    type: string
                    description: On-chain transaction hash
        '400':
          description: Invalid signature, amount, or property not in IPS
        '403':
          description: Wallet not whitelisted or KYC/AML issue
        '429':
          description: Daily gasless limit reached (10 per wallet per day)

  /api/distributions/unclaimed/{walletAddress}:
    get:
      summary: Unclaimed Earnings
      tags: [Distributions]
      parameters:
        - name: walletAddress
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Unclaimed amounts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnclaimedDistributions'

  /api/distributions/history/{walletAddress}:
    get:
      summary: Claim History
      tags: [Distributions]
      parameters:
        - name: walletAddress
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Past claims

  /api/distributions/record-claim:
    post:
      summary: Record Claim
      description: Record a successful on-chain distribution claim. Call this after your bot completes a claim transaction on-chain to update the backend records.
      tags: [Distributions]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [epoch, index, walletAddress, txHash, propertyId]
              properties:
                epoch:
                  type: integer
                  description: Distribution epoch number
                index:
                  type: integer
                  description: Claim index within the epoch
                walletAddress:
                  type: string
                  description: Wallet that completed the claim
                txHash:
                  type: string
                  description: On-chain transaction hash of the claim
                propertyId:
                  type: string
                  description: Property ID the claim is for
      responses:
        '200':
          description: Claim recorded
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      epoch:
                        type: integer
                      index:
                        type: integer
                      amount:
                        type: string
                      status:
                        type: string
                      txHash:
                        type: string

  /api/buyout/check-approval/{propertyId}:
    get:
      summary: Check Buyout Approval
      tags: [Buyouts]
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Approval status

  /api/buyout/offer-requirements/{propertyId}:
    get:
      summary: Offer Requirements
      tags: [Buyouts]
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
        - name: walletAddress
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Requirements and fees

  /api/buyout/my-position/{propertyId}:
    get:
      summary: My Token Position
      tags: [Buyouts]
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Token balance and ownership percentage

  /api/buyout/premium-vote-status/{propertyId}:
    get:
      summary: Premium Vote Status
      description: Get the current premium vote status for a buyout, including vote count, premium percentage, and expiration. Public endpoint.
      tags: [Buyouts]
      security: []
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Premium vote status

  /api/buyout/voter-status/{propertyId}/{walletAddress}:
    get:
      summary: Voter Status
      description: Check whether a specific wallet has voted on a buyout premium proposal. Public endpoint.
      tags: [Buyouts]
      security: []
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
        - name: walletAddress
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Voter status and voting details

  /api/buyout/property-financials/{propertyId}:
    get:
      summary: Property Financials
      description: Returns financial metrics for a property related to buyout offers (token supply, current price, market cap). Public endpoint.
      tags: [Buyouts]
      security: []
      parameters:
        - name: propertyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Property financial summary

  /api/api-keys:
    get:
      summary: List API Keys
      description: List all your API keys (requires JWT web session, not API key)
      tags: [Key Management]
      security:
        - JwtAuth: []
      responses:
        '200':
          description: API keys list
    post:
      summary: Create API Key
      description: Create a new API key (requires JWT web session). Returns secret ONCE.
      tags: [Key Management]
      security:
        - JwtAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [label, scopes]
              properties:
                label:
                  type: string
                  description: Human-readable name
                  example: My Trading Bot
                scopes:
                  type: array
                  items:
                    type: string
                    enum: [market:read, portfolio:read, orders:read, orders:write, trading:execute, distributions:read, buyout:read]
                walletAddress:
                  type: string
                  description: Restrict key to a specific wallet (null = all wallets)
                ipRestrictions:
                  type: object
                  description: IP-based access restrictions (OR logic between groups)
                  properties:
                    customIPs:
                      type: array
                      items:
                        type: string
                      description: Custom IP addresses or CIDR ranges
                      example: ["203.0.113.50", "10.0.0.0/8"]
                    allowedCountries:
                      type: array
                      items:
                        type: string
                      description: ISO 3166-1 alpha-2 country codes
                      example: ["US", "CA"]
                    allowedCloudProviders:
                      type: array
                      items:
                        type: string
                        enum: [aws, gcp, azure, cloudflare]
                      description: Cloud provider IP ranges to allow
                    enabled:
                      type: boolean
                      default: true
                expiresIn:
                  type: integer
                  description: Hours until expiration (1-8760)
      responses:
        '201':
          description: Key created (secret shown ONCE)

  /api/api-keys/{keyId}:
    delete:
      summary: Revoke API Key
      tags: [Key Management]
      security:
        - JwtAuth: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Key revoked
    patch:
      summary: Update API Key
      description: Update label or IP restrictions
      tags: [Key Management]
      security:
        - JwtAuth: []
      parameters:
        - name: keyId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                label:
                  type: string
                ipRestrictions:
                  type: object
                  properties:
                    customIPs:
                      type: array
                      items:
                        type: string
                    allowedCountries:
                      type: array
                      items:
                        type: string
                    allowedCloudProviders:
                      type: array
                      items:
                        type: string
                        enum: [aws, gcp, azure, cloudflare]
                    enabled:
                      type: boolean
      responses:
        '200':
          description: Key updated
